.App {
  text-align: center; 
  display:flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-image:url('./movie-background.jpeg') ;
  background-size:cover;
  background-attachment:fixed;
  color:rgb(14, 12, 12)

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#searchResultCard {
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  columns: 4;
}

.searchCard {
  flex-direction: column;
  border: 3px solid black;
  background-color: rgba(211,211,211,.6);
  order:4;
  margin:1%;
}

#header {
  width: 100%;
  background-color: black;
}