.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-image:url('./movie-background.jpeg') ;
  background-size:cover;
  background-attachment:fixed;
  color:rgb(14, 12, 12)

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 10px solid black;
}

#searchResultCard {
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchCard {
  flex-direction: column;
  background-color: rgba(211,211,211,.7);
  margin:1%;
  width: 15rem;
  height: 25rem;
  box-shadow: 6px 9px black
}

#header {
  color:white;
  display:block;
  background-color: black;
  display: flex;
  flex-direction: column;
  width:100%;
}

#searchInput {
  width: 25%;
  justify-content: center;display:grid;
}
