.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-image:url('./movie-background.jpeg') ;
  background-size:cover;
  background-attachment:fixed;
  color:rgb(14, 12, 12)
}

#searchResultCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 50%;

}

#searchCard {
  background-color: rgba(211,211,211,.7);
  margin:1%;
  width: 15rem; 
  height: 25rem;
  box-shadow: 6px 9px black;
  color: white;
  /* margin-left: auto;
  margin-right: auto; */
  justify-content: space-around;
}


.header {
  display:block;
  background-color: black;
  align-content: center;
  display: grid;
  justify-content: center;
  position:sticky;
  top:0;
}

.label {
  color:white;
  }

  .siteTitle {
    color:white;
    font-size:2rem;
  }

  #reviews {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin:auto;
    left:38%;
  }

  .submitButton {
    width: 8rem;
    margin:auto;
  }

  #text {
    color:white;
  }

  a { 
    color:white;
    display:inline-block;
    width: 25%;
    box-shadow: 6px 9px black;
    background-color:rgba(211,211,211,.7)
  }

  a:hover {
    background-color:rgb(255,22,83);
    color:black;
  }

  #reviewContainer {
    display:flex;
    order:3;
    height:10rem;
  }

  .reviewCard {
  flex-direction: column;
  background-color: rgba(211,211,211,.7);
  margin:1%;
  width: 20rem;
  height: 25rem;
  box-shadow: 6px 9px black;
  color: white;
  overflow: scroll;

  }

  
  @media screen and (max-width: 768px) {
    #searchCard {
      background-color: rgba(211,211,211,.7);
      
      width: 20rem; 
      height: 27rem;
      box-shadow: 6px 9px black;
      color: white;
      /* margin-left: auto;
      margin-right: auto; */
      justify-content: space-around;
    }
  }